@import "tailwindcss";

.footer {
  background-color: #fff;
  padding: 40px 60px;
  font-family: sans-serif;
  border-top: 1px solid #ddd;
  margin-left: 70px;
  margin-right: "0px"
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
  cursor: pointer;
}

.social-icons i {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.features-columns {
  display: flex;
  gap: 40px;
}

.footer-bottom {
  margin-top: 40px;
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.thegrid {
  display: grid; 
  margin: 20px 10px 10px 10px;
  grid-template-columns: repeat(4, 1fr); 
  justify-content: center; 
  gap: 20px; 
  margin-bottom: 10px;
}

.footer-links {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-links a {
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}

.verified-logos {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.verified-logos img {
  height: 40px;
}

.advert {
  background-color: rgb(5, 83, 65);
  width: 75%;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 40px;
  margin-left: 13.2%;
  position: relative; 
  overflow: hidden;
  border-radius: 20px;
}


@media screen and (max-width: 480px) {
  :root {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 50px;
  }

  body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .home {
    max-width: 55%;
    padding: 5px;
  }

  .thegrid {
    grid-template-columns: 1fr;
    margin-left: 50px;
    padding-bottom: 30px;
  }

  .thegrid > div {
    width: 40%;
  }

  .theimage {
    height: 100px;
    padding-left: 15px;
  }

  .advert {
    margin-left: 30px;
    max-width: 50%;
  }

  .footer {
    margin-left: 0px;
  }

  .footer-columns {
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
  }

  .footer-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 15px;
    gap: 10px;
  }

  .footer-dropdown > div {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  :root {
    max-width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .footer-column b {
    display: flex;
    justify-content: center;
  }

  .imaged {
    height: 10rem;
    left: -5rem;
  }
  
  .image {
    right: -3rem;
  }
}